$page-status-colors: (
    abletoscale: $colorOk,
    scalingactive: $colorInfo,
    scalinglimited: $colorSoftError,
);

@mixin page-status-bgc {
  @each $status, $color in $page-status-colors {
    &.#{$status} {
      background: $color;
      color: white;
    }
  }
}