.AddDeployDialog{
  width: 800px;
  height: 550px;
}

.top-form{
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  .top-form-text{
    display: flex!important; 
    flex-direction: row; 
    justify-content: flex-end;
     align-items: center;
  }
  .my-form{
    width: 700px;
    height: auto;
    border: 1px solid #ccc;
    padding: 20px;
  }
  .mt-10{margin-top: 10px;}
  .ml-10{margin-left: 10px;}
  .fs-14{font-size: 14px;}
  .btn-right-text1{
    font-size: 13px;
    margin-top: 11px;
    margin-left: 10px;
  }
  
  .btn-right-text2{
    font-size: 13px;
    margin-left: 10px;
  }
  .btn-add-container{
    font-size: 14px;
    margin-left: 5px;
  }
  .ready-probe-block{
    padding: 10px;
    box-shadow: 1px 1px 12px #ccc;
    border-radius: 10px;
    margin-top: 10px;
  }
  .env-config-block{
    padding: 1px 10px 14px;
    box-shadow: 1px 1px 12px #ccc;
    border-radius: 10px;
    margin-top: 10px;
  }
  .text-right{
    text-align: right;
  }