.Stones {
  .TableCell {
    &.name {
      flex-grow: 2;
    }
    &.containers {
      flex-grow: 3.0;
    };

    &.pods {
      flex-grow: 2.0;
    }

    &.warning {
      @include table-cell-warning;
    }
  }
}