.Pipeines {
  .TableCell {
    &.tasknames {
      flex-grow: 3;
    }
  }
}

.graph {
  height: 305px;
  width: 100%;
  // background-color: #eff1f5;
  // margin-bottom: 15px;
  // padding: 10px 30px;
}

.g6-tooltip {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-size: 12px;
  color: #545454;
  background-color: greenyellow;
  padding: 10px 8px;
  box-shadow: rgb(174, 174, 174) 0px 0px 10px;
}
