$field-status-colors: (
    abletoscale: $colorOk,
    scalingactive: $colorInfo,
    scalinglimited: $colorSoftError,
);

@mixin field-status-bgc {
  @each $status, $color in $field-status-colors {
    &.#{$status} {
      background: $color;
      color: white;
    }
  }
}
