// @import "../+workloads/workloads-mixins";
.PipelineRun {
  .TableCell {
    &.name {
      flex-grow: 4;
    }
    &.ownernamespace {
      flex-grow: 2;
    }
    &.age {
      flex-grow: 2;
    }
    &.tasks {
      .StatusBrick {
        @include taskrun-status-bgs;
      }
    }
    
    &.warning {
      @include table-cell-warning;
    }
  }
}

.pipelineRunWarningIcon {
  color: $golden;
}
