.PipelineRun {
  .TableCell {
    &.name {
      flex-grow: 2.0;
    }
    &.ownernamespace{
      flex-grow: 1.2;
    }
    &.age {
      flex-grow: 0.3;
    }
    &.warning {
      @include table-cell-warning;
    }
  }
}