// @import "../+workloads/workloads-mixins";
.PipelineRun {
  .TableCell {
    &.name {
<<<<<<< HEAD
      flex-grow: 3.0;
=======
      flex-grow: 4;
>>>>>>> 75e2633f3a03ae0c5100bb42bb8b9494686f5fc0
    }
    &.ownernamespace {
      flex-grow: 0.1;
    }
    &.age {
      flex-grow: 0.3;
    }
    &.tasks {
      .StatusBrick {
        @include taskrun-status-bgs;
      }
    }
    
    &.warning {
      @include table-cell-warning;
    }
  }
}

.pipelineRunWarningIcon {
  color: $golden;
}
