.AddSecretDialog {
  --flex-gap: #{$margin * 1.5};

  .Wizard {
    --wizard-width: 60vw;
    --wizard-content-height: 40vw;
    --wizard-content-max-height: 40vw;
  }

  .Icon {
    --color-active: black;
  }

  .remove-icon {
    flex: 0 0;
    width: 18px; // icon size
  }

  .fields-title {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: $margin / 2;
  }
}